.productview{
    position: relative;
    background-color: white;
    width: 110px;
    height: 140px;
    padding: 4px;
    margin:2px;
    border-radius:8px;
    display: inline-block;
    

    .discount{
        background-color: #7f4da5;
        
        width: 45%;
        border-radius:10px;
        font-size: 8px;
        padding-inline:3px;
        margin: 4px;
        margin-right: 0px;
        color: white;
        text-align: center;
    
    }

    .productimage{
        
        width:65%;

    }

    .productname{
       
        font-size:12px;
        padding: 4px;
        margin:0px;
        white-space: normal;
        font-weight: bold;
    }

    .productquantity{
        
        font-size:9px;
        padding-left: 4px;
        padding-bottom: 3px;
        margin:0px;
        font-weight : bold;
        
    }

    .row{
        .productprice{
            
            font-size:12px;
            width:50px;
            margin:0px;
            padding-top: 2px;
            padding-left: 16px;
            padding-right: 0px;
            font-weight: bold;
        }
        .cartbutton{
            position: relative;
            font-size:8px;
            width: 40px;
            margin:0px;
            padding: 0px;
            height:px;
            left:22px;
            border:1px solid;
            border-radius:6px;
            border-color: #9b9999;
            text-align: center;
            

            .btn{
                font-size: 10px;
                padding: 0px;
                width:12px;
                margin :0px;
                padding: 0px;
                border-radius: 0px;
                color: #ff6868;
                
            }

            .add{
                position: relative;
                text-align: center;
                right:3px;
            }

        }
     
    }
}






