<div class="productview shadow-3 ">
    <p class="discount">{{product.discount}}% Off</p>
    <div class="text-center">
        <img class="productimage" src="{{product.image}}">
    </div>
  
    <h6 class="productname">{{product.name}}</h6>
    <p class="productquantity">{{product.weight}}</p>
    <div class="row">
        <h6 class="productprice">₹{{product.price}}</h6> 
        <div class="cartbutton shadow-3">
            <button *ngIf="userproduct.quantity > 0"  class="btn shadow" (click)="subtracting()">-</button>
            
            <h6 *ngIf="userproduct.quantity == 0"  (click)="adding()" class="btn shadow add" >Add</h6>
            

            <h6 *ngIf="userproduct.quantity != 0" class="btn shadow">{{this.userproduct.quantity}}</h6>
            <button *ngIf="userproduct.quantity > 0" class="btn shadow" (click)="adding()">+</button>
            
        </div>
    </div>
   
    

</div>