.container-fluid{
    position: relative;
    padding-top:4px;
    padding-bottom:3%;
   
}

.mdb-carousel{
    .indicators{
        color:black;
    }
    position: relative;
    color :black;
    top: 20%;
}

.carousel-indicators{
    position: relative;
    top: 40px;
}

