
<div class="container-fluid   ">
    <mdb-carousel   [controls]="false" [indicators]="false">
        <mdb-carousel-item >
        <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
            class="d-block w-100 rounded "
            alt="..."
        />
        </mdb-carousel-item>
        <mdb-carousel-item>
        <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
            class="d-block w-100 rounded"
            alt="..."
        />
        </mdb-carousel-item>
        <mdb-carousel-item>
        <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
            class="d-block w-100 rounded"
            alt="..."
        />
        </mdb-carousel-item>
    </mdb-carousel>

</div>