div.scrollmenu {
    background-color: #e1e2e4;
    overflow: auto;
    font-weight: bold;
   
    padding-top: 4px;
    padding-bottom: 4px;

    width: 100%;


    .category{
        position: relative;
        width: 88px;
        font-size: 11px;
        text-align: center;
        background-color: white;
        border-radius: 8px;
        padding-top: 6px;
        height: 88px;
        font-weight: bold;
        margin: 3px;
        .category-image {
            width: 80%;
            
            padding: 0px;
        }
        .category-name{
            position: relative;
            padding: 0px;
            margin:0%;
        }
    }
  }
  
  