
<div class="container justify-content-left "> 
    <h6>Categories</h6>
</div>
<div class="scrollmenu container py-2 ">

    <div class="container ">
        <div class=" row p-0 justify-content-center ">
            
            <ng-container *ngFor="let category of categoriesname">
                <a routerLink="/category/{{category.path}}" class="category shadow-4 ">
                    <p class="category-name ">{{category.name}}</p>
                    <img class="category-image" src="{{category.url}}">
                </a>
            </ng-container>    
        </div>
    </div>
</div>
  