.product{
    position: relative;
    background-color: white;
    font-size:14px;
    .image{
        position: relative;
        width: 40px;
    }
    .weight{
        font-size:10px;
    }
    .price{
        font-size: 14px;
        font-weight: normal;
    }

    .name{
        font-size: 14px;
    }

    .cartbutton{
        position: relative;
        font-size:8px;
        width: 40px;
        margin:0px;
        padding: 0px;
        height:px;
        left:0px;
        border:1px solid;
        border-radius:6px;
        border-color: #9b9999;
        text-align: center;
        
    
        .btn{
            font-size: 10px;
            padding: 0px;
            width:12px;
            margin :0px;
            padding: 0px;
            border-radius: 0px;
            color: #ff6868;
            
        }
    
        .add{
            position: relative;
            text-align: center;
            right:3px;
        }
    
    }
    

}

