<div class="row product px-2 py-0 my-0 mx-0 ">
    
    <div class="col-2 py-1 px-1">
        <img class="image" src={{userproduct.image}}>
    </div>
    
    <div class="col-5 py-1">
        <h6 class="name m-0" >{{product.name}}</h6>
        <p class="weight m-0" >{{product.weight}}</p>
    </div>
    <div class=" col-2 text-center py-2 px-1">
        <div class="cartbutton  ">
        <button *ngIf="userproduct.quantity > 0"  class="btn shadow" (click)="subtracting()">-</button>
        
        <h6 *ngIf="userproduct.quantity == 0"  (click)="adding()" class="btn shadow add" >Add</h6>
        

        <h6 *ngIf="userproduct.quantity != 0" class="btn shadow">{{userproduct.quantity}}</h6>
        <button *ngIf="userproduct.quantity > 0" class="btn shadow" (click)="adding()">+</button>
        </div>
    </div>
    <div class="col-3 px-2 text-center">
        <h6 class="price  py-2 " >₹{{product.price * product.quantity}}</h6>
    </div>
