<div class="container py-2 allproducts text-center ">
    
    <ng-container *ngFor="let product of categoryproducts">
        <app-productview [product]="product" (userproductEvent)="userproduct($event)" class=" p-2 "></app-productview> 

    </ng-container>
    
    
    
    


</div>
