<div class="paymentsection ">
    <div class="row container address px-0 m-0  ">
        <p class="col-8  my-0 ">{{address}}</p>
        <p class="col-4  my-0 ">Change address</p>
    </div>
    <div class="row p-1 ">
        <h6 class="px-3 mx-1 col-3 bill text-center"> Bill ₹{{totalprice}}</h6>
        <a class="col-8 paymentbutton py-2 mx-2 px-3 text-center">CONTINUE TO PAYMENT</a>
    </div>
    
</div>
