.paymentsection{
    position: fixed;
    width: 100%;
  
    bottom:0;
    background-color: white;

    .address{
    
        font-size:10px;
    }

    .bill{
        font-size:14px;
    }

    .paymentbutton{
        position: relative;
        background-color:rgb(255, 68, 130);
        border-radius:6px;
        color:white;
        font-size:14px;
    }
}

