
<div class="container justify-content-left dark"> 
    <h6>Trending near you </h6>
</div>
<div class="scrollmenu container" >
    
    <a  *ngFor="let product of trendingproducts" >
    <app-productview [product]="product" (userproductEvent)="userproduct($event)" class="a"></app-productview>
    </a>
    
</div>



