div.scrollmenu {
    background-color: #e1e2e4;
    overflow: auto;
    white-space: nowrap;
   
    padding-top: 4px;
    padding-bottom: 4px;

    width: 100%;

    .a {
        display: inline-block;
        
    
        
      }
  }


  .scrollmenu::-webkit-scrollbar {
    display: none;
  }
  