.search{
    position: relative;
    border-radius: 20px;
    width: 100%;
    background-color:white;
    height:30px;
    margin: 6px;
}

.search-input{
    position: relative;
    left:2%;
    top:1%;
}

.search-input:focus{ 
    outline: none !important;
}

.search-icon{
    color: #757575;
}