<div class="container">

    <p class="search shadow-3 container justify-content-start" > 
            <i class="fas fa-search fa-sm search-icon"></i>
            <input type="text" placeholder="Search" class="search-input border-0" >
         
    </p>
    
</div>