<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="cartview animated w3-animate-bottom shadow-5-strong  " *ngIf="totalitems > 0"   >
    
    <a routerLink="/cart" class=" cart-content row ">
       
       <p class="quantity col-6">
           
        {{ totalitems }} items | ₹ {{totalprice}} </p>
       <a class="col-5 viewcartbutton">VIEW CART

        <i class=" fas fa-caret-right "></i>
       </a>
      
    </a>

</div>