.cartview{
    position: fixed;
    width: 74%;

    bottom: 0;
    background-color: white;
    z-index: 10;
    margin-inline:13%;
    height: 50px;
    
    

}

@media only screen and (max-width: 600px) {
    .cartview {
        position: fixed;
        width: 100%;
        margin:0%
    }
  }

.cart-content{
    background-color:rgb(255, 68, 130);
    width: 94%;
    margin-inline: 3%;
    border-radius:6px;
    height: 30px;
    margin-top: 10px;
    z-index: 10;
    color: white;
    padding: 4px;

    .quantity{
        font-size: 14px;
        margin: 0px;
        padding-top: 0px;

    }

    .viewcartbutton{
        position: relative;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        left: 20%;
        color: white;
    }
}

