div.scrollmenu {
    background-color: white;
    white-space: nowrap;
    
    overflow-x: scroll;

    width: 100%;

    .a {
        display: inline-block;
        
        padding-right: 12px;
        margin:0px;
        
      }
     
  }
  .scrollmenu::-webkit-scrollbar {
    display: none;
  }