.category-header{
   
    background-color: #59287e;
    
    color: #fff;
    
    
    .header-item{
        color: rgb(250, 101, 126);
    }
    .category-name{
        position: relative;
        padding: 2px;
        
       
    }
    .search-icon{
        position: relative;
        
        
    }

    
    
}







.cartview{
    position: fixed;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    bottom: 0;
    background-color: white;
    z-index: 10;
    margin-inline:13%;
    padding-bottom: 20%;
    
    .text-center{
        position: relative;
        font-weight: bold;
    }

    .cat{
        position: relative;
        font-weight: bold;
    }
    

}

@media only screen and (max-width: 600px) {
    .cartview {
        position: fixed;
        width: 100%;
        margin:0%
    }
  }




