
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<nav class="navbar category-header py-0 sticky-top ">
    <div class="container">
      
      <a routerLink="/" class="   "> <i class="header-item fas fa-chevron-left py-3"></i> </a>
      <ul class="navbar-nav me-auto  px-2">
        <li class="nav-item">
            <a (click)="categoryshow()" class="  category-name  text-white p-0">{{categorypath}}
                <i class="fas fa-angle-down "></i>
            </a>
          </li>
      </ul>
      
        
      
        
          <i class="fas fa-search header-item"></i>
        
   
    </div>
</nav>


 
<div class="cartview animated w3-animate-bottom  " *ngIf="categorystatus == true" >
    
    <div (click)="categoryshow()">
        <i  class="far fa-times-circle justify-content-right p-2" aria-hidden=""></i>
        <h5 class="cat text-center" >Categories</h5>
    </div>
   

    <div class=" text-center "> 
        <ng-container *ngFor="let category of categoriesname" >
             <a (click)="getcategoryproducts(category.path)"  routerLink="/category/{{category.path}}"> <p class="cat">{{category.name}}</p> </a>
         </ng-container>
        
    </div>

</div>