.category-header{
   
    background-color: #59287e;
    
    color: #fff;
    
    
    .header-item{
        color: rgb(250, 101, 126);
    }
    .category-name{
        position: relative;
        padding: 2px;
        
       
    }
    .search-icon{
        position: relative;
        
        
    }

    
    
}

.bg{
    background-color: #e1e2e4;
}

.bill{
    position: relative;
    
    background-color:white;
    font-size: 14px;
    font-weight: normal;
}