

<div class="bg">
    <nav class="navbar category-header py-0  sticky-top">
        <div class="container">
        
        <a routerLink="/" class="   "> <i class="header-item fas fa-chevron-left py-3"></i> </a>
        <ul class="navbar-nav me-auto  px-2">
            <li class="nav-item">
                <a  class="  category-name  text-white p-0">
                    Cart ({{userinfo.totalitems}})
                </a>
            </li>
        </ul>
        
        <i class="fas fa-search header-item"></i>
            
    
        </div>
    </nav>


    <ng-container *ngFor="let product of userinfo.cart">
           
        <app-final-productview [product]="product" (userproductEvent)="receiveproductincart($event)" ></app-final-productview>
    </ng-container>
     
    <app-horizontal-scrollview (sendproductincart)="receiveproductincart($event)" [trendingproducts]="trendingproducts"></app-horizontal-scrollview>
   
    <div class="row container bill px-0 mx-0 py-2 ">
       <p class="justify-content-left col-9 my-0 text-right"> Items total</p>
       <p class=" col-3 my-0 text-center">₹{{userinfo.totalprice}}</p>
    </div>
  
    <br> <br> 
    <br>
   
</div>

<app-paymentview [totalprice]="userinfo.totalprice" [address]="userinfo.address[0].address1"></app-paymentview>