<div class="bg">
<app-header></app-header>
<app-slider></app-slider>
<app-search></app-search>

<app-horizontal-scrollview (sendproductincart)="receiveproductincart($event)" [trendingproducts]="trendingproducts"></app-horizontal-scrollview>

<app-viewcart [totalitems]="userinfo.totalitems" [totalprice]="userinfo.totalprice" ></app-viewcart>
<app-home-categories [categoriesname]="categoriesname"></app-home-categories>

<app-horizontal-scrollview (sendproductincart)="receiveproductincart($event)" [trendingproducts]="trendingproducts"></app-horizontal-scrollview>





<br>
<br>

<br>


</div>