<div class="bg">
    
    <app-category-header [categorypath]="categorypath" 
    [categoriesname]="categoriesname" (updatedcategorypath)="updatedcategorypath($event)" >
    </app-category-header>
    <app-slider></app-slider>
    <app-search></app-search>

    <app-sub-category></app-sub-category>

    <div>
       <app-all-products [categoryproducts]="categoryproducts" (sendproductincart)="receiveproductincart($event)" ></app-all-products>
    </div>
    <app-viewcart [totalitems]="userinfo.totalitems" [totalprice]="userinfo.totalprice" ></app-viewcart>
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>