<div class="container justify-content-left dark"> 
    <h6>Trending near you</h6>
</div>
<div class="scrollmenu container ">
    
    <app-productview class="a"></app-productview>
    <app-productview class="a"></app-productview>
    <app-productview class="a"></app-productview>
    <app-productview class="a"></app-productview>
    <app-productview class="a"></app-productview>
    <app-productview class="a"></app-productview>

</div>
  