div.scrollmenu {
    background-color: #e1e2e4;
    overflow: auto;
    
   
    padding-top: 4px;
    padding-bottom: 4px;

    width: 100%;

    .a {
        display: inline-block;
        
        padding: 4px;
        
      }
  }
  
  